<footer class="footer">
    <div class="social-media">
        <a href="https://facebook.com" target="blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com" target="blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com" target="blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="copyright"><a class="" href="#">Copyright &copy; Digital Lab 2020</a></div>
</footer>
